body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 50px;
    padding: 0;
    margin-top: 100px;
    text-align: center;
    
}
h1 {
   margin-top: 100px; 
   font-size: 90px;
   font-weight: bold;

}
.container {
    max-width: 1000px;
    max-height: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-selection {
    margin-bottom: 20px;
}

.custom-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 100px;
    height : 100px;
    font-weight: bold;
    width: 300px;
    margin-right: 100px;
    margin-bottom: 100px;
    font-size: 30px;

}
.custom-button1 {
    background-color: #ff9d00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
    margin-top: 100px;
    height : 100px;
    width: 300px;
    margin-left: 100px;


}
.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Add margin for better spacing */
}

.custom-button:hover {
    background-color: #0056b3;    
}

.hidden {
    display: none;
}

#chosenImage {
    max-width: 100%;
    height: auto;
}

#analyzeButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    padding: 10px 20px;
    margin-top: 100px;

}
.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Add margin for better spacing */
}