<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebPicAnalyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat-style.css') }}">
</head>
<body>
    <div class="container">
        <h1>WebPicAnalyzer</h1>

        <form method="post" action="/" enctype="multipart/form-data">
            <div class="image-selection">
                <input type="file" name="file" id="file" accept="image/*" style="display: none;" onchange="showChosenImage()">
                <div class="button_container">
                    <button type="button" class="custom-button" onclick="chooseImage()">Choose Image</button>
                    <button type="submit" class="custom-button1" id="analyzeButton" disabled>Analyze Image</button>
                </div>
                <div id="chosenImageContainer" class="hidden">
                    <h2>Choosen Image:</h2>
                    <img id="chosenImage" src="#" alt="Chosen Image">
                </div>
            </div>
        </form>

        <!-- Add the open and close buttons -->
        <button id="openChatButton" class="chat-button" onclick="toggleChat()">Open Chat</button>
        <button id="closeChatButton" class="close-button" onclick="closeChat()">Close Chat</button>

        <!-- Add the chat bot iframe -->
        <iframe src='https://webchat.botframework.com/embed/faceproject-bot?s=ZrbsQUzOI3o.mq_LoAiVEobXiOOA_R1H0g6wOb42tXGKahiT9q5KgxE' class="chat-bot-iframe"></iframe>

        <script>
            function chooseImage() {
                document.getElementById('file').click();
            }

            function showChosenImage() {
                var chosenImageContainer = document.getElementById('chosenImageContainer');
                var chosenImage = document.getElementById('chosenImage');
                var analyzeButton = document.getElementById('analyzeButton');

                chosenImage.src = URL.createObjectURL(document.getElementById('file').files[0]);
                chosenImageContainer.classList.remove('hidden');
                analyzeButton.removeAttribute('disabled');
            }

            function toggleChat() {
                var chatBotIframe = document.querySelector('.chat-bot-iframe');
                chatBotIframe.classList.toggle('chat-bot-iframe-open');
            }

            function closeChat() {
                var chatBotIframe = document.querySelector('.chat-bot-iframe');
                chatBotIframe.classList.remove('chat-bot-iframe-open');
            }
        </script>
    </div>
</body>
</html>
